.banner-background {
  background-image: linear-gradient(
                  rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
  url("../images/banner/hero-background.jpg");
  background-color: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 696px;
  margin: 0 auto;
  align-items: center;
}

.banner-content__btn {
  cursor: pointer;
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}