.boxes {
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.boxes__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.boxes__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
}

.boxes__box-icon--color {
  color: black;
}

.boxes__box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: $up-to-tablet) {
    text-align: center;
  }
}

.boxes__box-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
