.burger-mobile-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--third-color);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.burger-mobile-menu__item {
  padding-bottom: 36px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  list-style: none;
  color: #212121;
}

.burger-mobile-menu__items {
  padding-top: 48px;
  padding-bottom: 102px;
}


.burger-mobile-menu__item--agency-color {
  color: var(--secondary-color)
}

.burger-mobile-menu__item-phone {
  margin-left: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--secondary-color);
}

.burger-mobile-menu__item-email {
  padding-bottom: 32px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  list-style: none;
  color: #757575;
}

.button__burger {
  float: right;
  right: 20px;
  margin-top: 21px;
  background-color: var(--third-color);
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 30px;
}

.burger-mobile-menu__social-items {
  margin-top: 64px;
  margin-left: 30px;

}

.burger-mobile-menu__social-links {
  display: inline;
  margin-right: 10px;
  top: 726px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.burger-mobile-menu__social-links:not(:last-child) {
  width: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
}