
.header-contact-data__contact-icon {
  margin-right: 10px;
  color: #757575;
}

.header-contact-data__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  @media screen and (min-width: $desktop){
    margin-right: 50px;
  }
}

.header-contact-data__contact-link:hover,
.navigation-list__menu--state:focus {
  color: var(--secondary-color);
}
