.customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.customers__item {
  display: flex;
  width: 170px;
  height: 92px;
  left: 215px;
  top: 2493px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;

  @media screen and (max-width: $up-to-tablet) {
    width: calc((100% - 30px) / 2);

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n+4) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $up-to-desktop) {
    width: calc((100% - (30px * 2)) / 3);

    &:nth-child(2) {
      margin-right: 30px;
      margin-left: 30px;
    }

    &:nth-child(5) {
      margin-right: 30px;
      margin-left: 30px;
    }

    &:nth-child(-n+3) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &:hover > .customers__link-icon {
    color: var(--secondary-color);
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    border-color: var(--secondary-color);
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}