.footer-background {
  background-color: var(--footer-color);
  display: flex;
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.join-us {
  margin-left: 70px;
}

.join-us__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 44px;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-logo--color {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.address-list {
  font-style: normal;

  & li:first-child {
    margin-bottom: 20px;
  }
}

.address-list__item {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.web-studio-address {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #FFFFFF99;

  &:hover {
    color: var(--secondary-color);
  }
}

.social-list__item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.newsletter-form {
  text-transform: uppercase;
  margin-left: 65px;
  padding-top: 44px;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.newsletter-form__title {
  margin-bottom: 20px;
}

.input-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-color);
  padding-left: 16px;
  color: #fff;
}

.newsletter-form__label {
  display: inline;
}
