.filter {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 63px;
    margin-right: 63px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    align-items: center;
  }

  & li {
    padding-right: 8px;
  }
}

.filter__btn {
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  width: 100%;

  &:nth-child(-n+3) {
    margin-bottom: 15px;
  }

  &:hover,
  &:focus {
    background-color: var(--secondary-color);;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  margin-top: 50px;
}

.projects-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projects-portfolio__image-box {
  position: relative;
  overflow: hidden;
}

.projects-portfolio__slide-up {
  bottom: -100%;
  position: absolute;
  background: #2196F3;
  opacity: 0.9;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 31px 45px 31px 24px;
  color: #FFFFFF;
}

.projects-portfolio__item {
  margin: 0 10px 30px;
  border: 1px solid #EEEEEE;

  &:hover .projects-portfolio__slide-up {
    bottom: 0;
    height: 100%;
    transition-property: bottom;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  margin-top: 20px;
}

.projects-portfolio__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}

.navigation-list-menu-blue-dark {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.navigation-list-menu-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--secondary-color);;
  text-decoration: none;
}

.contact-data-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
}
