.team-background {
  background: #F5F4FA;
}

.our-team {
  display: block;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team__item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  @media screen and (min-width: $mobile) and (max-width: $up-to-tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n+2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.our-team__background {
  background-color: var(--third-color);
  padding-top: 30px;
}

.our-team__photo {
  width: 100%;
}

.our-team__header-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__header-position {
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}