.boxes__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.boxes__box-icon--color {
  color: black;
}

.boxes__box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.boxes__box-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
