:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #2196F3;
  --third-color: #fff;
  --social-color: #AFB1B8;
  --footer-color: #2F303A;
}